services:
  postgres:
    image: postgres:17
    container_name: temporal_postgres
    environment:
      POSTGRES_DB: temporal
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - ./.db:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d temporal"]
      interval: 10s
      timeout: 5s
      retries: 5

  temporal:
    image: temporalio/auto-setup:latest
    container_name: temporal_server
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DB=postgres12_pgx
      - DB_PORT=5432
      - POSTGRES_USER=admin
      - POSTGRES_PWD=admin
      - POSTGRES_SEEDS=postgres
    ports:
      - "7233:7233"
    restart: unless-stopped

  temporal-ui:
    image: temporalio/ui:latest
    container_name: temporal_ui
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:8080
    ports:
      - "8080:8080"
    restart: unless-stopped
